<div class="background-container">
  <div class="container mt-3">
    <div class="todo">
      <h2 class="text-danger">To Do List</h2>
      
      <form (ngSubmit)="submit_task(taskForm)" #taskForm="ngForm">
        <div class="box mt-3">
          <div class="container-input">
            <label for="descriere" class="form-label">Descrierea sarcinii</label>
            <div class="icon"> 
              <span class="bi bi-card-text"></span>
              <input type="text" class="form-control" id="descriere" placeholder="Sarcina este..." ngModel name="descriere" required>
            </div>
          </div>
        </div>

        <div class="box mt-3 mb-3">
          <label for="data" class="form-label">Selecteaza data</label>
          <input type="date" class="form-control" min="{{minDate}}" id="data" ngModel name="date" required>
        </div>

        <div class="box mb-3">
          <label for="ora" class="form-label">Selecteaza ora</label>
          <input type="time" class="form-control" min="{{minTime}}" max="{{maxTime}}" id="ora" ngModel name="time" required>
        </div>

        <div class="box mb-3">
          <label for="person" class="form-label">Selecteaza persoana</label>
          <select class="form-control" id="person" [(ngModel)]="selectedPersonId" name="personId" required>
            <option value="">Alege o persoana</option>
            <option *ngFor="let person of personsArray" [value]="person.person_id">
              {{ person.person_name }} - {{ person.person_role }}
            </option>
          </select>
        </div>

        <div class="text-end">
          <button type="submit" id="add" class="btn btn-primary bg-danger border-0">
            {{ editID ? 'Actualizeaza ' : 'Adauga' }}
          </button>
        </div>
      </form>

      <!-- Lista sarcinilor -->
      <h3 class="text-danger">Sarcini</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Descriere</th>
            <th scope="col">Data</th>
            <th scope="col">Ora</th>
            <th scope="col">Persoana</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="3">Controale</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskArray" [class.stroke]="task.iscompleted">
            <td>{{ task.descriere }}</td>
            <td>{{ task.data }}</td>
            <td>{{ task.ora }}</td>
            <td>{{ task.person_name}}</td>
            <td>{{ task.iscompleted ? 'Completat' : 'In asteptare' }}</td>
            <td>
              <button class="btn btn-success btn-sm me-2" (click)="onComplete(task.id)" [disabled]="task.iscompleted">
                <i class="bi bi-check"></i>
              </button>
              <button class="btn btn-warning btn-sm me-2" (click)="onEdit(task.id)" [disabled]="task.iscompleted">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm me-2" (click)="delete_tasks(task.id)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4">
        <div class="person-list">
          <h2 class="text-danger">Persoane</h2>
          <button class="btn btn-primary mb-3" (click)="toggleAddPersonForm()">
            {{ showPersonForm ? 'Inchide' : 'Adauga persoana' }}
          </button>
          <!-- Formularul de adăugare/actualizare persoană -->
          <div *ngIf="showPersonForm" class="add-person-form mb-3">
            <form (ngSubmit)="submitPerson(personForm)" #personForm="ngForm">
              <div class="mb-3">
                <label for="person_name" class="form-label">Nume persoana</label>
                <input type="text" class="form-control"  id="person_name" placeholder="Introdu numele" ngModelname="person_name" required>
              </div>
              <div class="mb-3">
                <label for="person_dob" class="form-label">Data nasterii</label>
                <input type="date"class="form-control" id="person_dob" ngModel name="person_dob"required>
              </div>
              <div class="mb-3">
                <label for="person_role" class="form-label">Rolul</label>
                <input type="text" class="form-control" id="person_role" placeholder="Rolul este..." ngModelname="person_role"required>
              </div>
              <button type="submit" class="btn btn-success">Salveaza</button>
            </form>
          </div>
  
          <!-- Lista de persoane -->
          <h3 class="text-danger">Lista Persoane</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Nume</th>
                <th>Acțiuni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of personsArray">
                <td>
                  <a href="#" (click)="showPersonDetails(person)">{{ person.person_name }}</a>
                </td>
                <td>
                  <button class="btn btn-warning btn-sm me-2" (click)="onEditPerson(person)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-danger btn-sm me-2" (click)="deletePerson(person.person_id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
  

          <div *ngIf="selectedPerson" class="person-details card mt-3">
            <div class="card-body">
              <h5 class="card-title">{{ selectedPerson.person_name }}</h5>
              <p class="card-text">
                Data nașterii: {{ selectedPerson.person_dob }}<br>
                Rol: {{ selectedPerson.person_role }}
              </p>
              <button class="btn btn-secondary btn-sm" (click)="selectedPerson = null">Închide</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="todo">
          <h2 class="text-danger">To Do List</h2>
          <form (ngSubmit)="submit_task(taskForm)" #taskForm="ngForm">
            <div class="box mt-3">
              <div class="container-input">
                <label for="descriere" class="form-label">Descrierea sarcinii</label>
                <div class="icon"> 
                  <span class="bi bi-card-text"></span>
                  <input type="text" class="form-control" id="descriere" placeholder="Sarcina este..." ngModel name="descriere" required>
                </div>
              </div>
            </div>
            <div class="box mt-3 mb-3">
              <label for="data" class="form-label">Selecteaza data</label>
              <input type="date" class="form-control" min="{{ minDate }}" id="data" ngModel name="date" required>
            </div>
            <div class="box mb-3">
              <label for="ora" class="form-label">Selecteaza ora</label>
              <input type="time" class="form-control" min="{{ minTime }}" max="{{ maxTime }}" id="ora" ngModel name="time" required>
            </div>
            <div class="box mb-3">
              <label for="person" class="form-label">Selecteaza persoana</label>
              <select class="form-control" id="person" [(ngModel)]="selectedPersonId" name="personId" required>
                <option value="">Alege o persoana</option>
                <option *ngFor="let person of personsArray" [value]="person.person_id">
                  {{ person.person_name }} - {{ person.person_role }}
                </option>
              </select>
            </div>
            <div class="text-end">
              <button type="submit" id="add" class="btn btn-primary bg-danger border-0">
                {{ editID ? 'Actualizeazăa' : 'Adauga' }}
              </button>
            </div>
          </form>
  
          <!-- Lista sarcinilor -->
          <h3 class="text-danger">Sarcini</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Descriere</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Persoana</th>
                <th>Status</th>
                <th colspan="3">Controale</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of taskArray" [class.stroke]="task.iscompleted">
                <td>{{ task.descriere }}</td>
                <td>{{ task.data }}</td>
                <td>{{ task.ora }}</td>
                <td>{{ task.person_name }}</td>
                <td>{{ task.iscompleted ? 'Completat' : 'În așteptare' }}</td>
                <td>
                  <button class="btn btn-success btn-sm me-2" (click)="onComplete(task.id)" [disabled]="task.iscompleted">
                    <i class="bi bi-check"></i>
                  </button>
                  <button class="btn btn-warning btn-sm me-2" (click)="onEdit(task.id)" [disabled]="task.iscompleted">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-danger btn-sm me-2" (click)="delete_tasks(task.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  


</div>
